%%
%% Packaging
%%
{package_name, "koala"}.
{package_install_name, "koala"}.
{package_install_user, "koala"}.
{package_install_group, "koala"}.
{package_install_user_desc, "koala user"}.
{package_shortdesc, "Web Communication System"}.
{package_desc, "Web Communication System"}.
{package_commands, {list, [[{name, "koala"}]]}}.
{package_patch_dir, "koala-patches"}.
{bin_or_sbin, "sbin"}.
{copyright, "2015"}.
{vendor_name, "ricecake@tfm.nu"}.
{vendor_url, "tfm.nu"}.
{vendor_contact_name, "Ricecake"}.
{vendor_contact_email, "ricecake@tfm.nu"}.
{license_type, "MIT"}.
