{clean_files, ["*.eunit", "ebin/*.beam"]}.
{erl_opts, [hipe, {i, "inc"}, {parse_transform, lager_transform}]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps", "apps"]}.
{deps, [
	% lager has to come first so its parse transform is available.
	{lager,        ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	{node_package, ".*", {git, "git@github.com:basho/node_package.git", {branch, "develop"}}},
	{cuttlefish,   ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "develop"}}},
	{jiffy,        ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{cowboy,       ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
	{erlydtl,      ".*", {git, "https://github.com/erlydtl/erlydtl.git", "master"}}
]}.
